<p>Bonjour  {{agent.name}},</p>
<p>Votre compte d`administrateur {{wname}} a été crée.</p>
<p>
    Veuillez clicquer sur le lien suivant, ou coller le sur le navigateur pour complèter l'enregistrement:
<a href="{{verify Link}}">{{verify Link}}</a>
<p>
<p> 
   Veuillez garder ce lien a porter de main pour vos ouvertures de séssions futures: {{hostname}} <br/>
   Nom d`utilisateur: {{agent.email}}
</p>
 
<p>
 Bien à vous,<br/>
 L'équipe BookEU
</p>
 
