<p>Bonjour {{user.name}},</p>
<p>Vous avez été ajouter comme administrateur du compte de {{entityName}}</p>
<p>
    Veuillez clicquez sur le lien suivant, ou coller le sur le navigateur pour complèter l`enregistrement:
</p>
<a href="{{verifyLink}}">{{verifyLink}}</a>
<p>Nom d`utilisateur: {{user.email}}</p>
<p>
  Bien à vous,<br/>
  L`équipe de bookEU 
</p>
