<p>Bonjour {{userName}},</p>
<p>Merci de réserver avec {{wname}}!</p>
<h4>détailes de votre réservation</h4>
<div style="margin:0;margin-left:20px;">
  <b>Numero de réservation: </b> {{bookingNumber}} <br/>
  <b>Prestataire: </b> {{supplier}} <br/>
  {{# if isCarBooking }}
  <b>Date de location: </b> {{startDate}} <br/>
  <b>Date de retour: </b> {{endDate}} <br/>
  {{else}}
  <b>Date d'arrivée: </b> {{startDate}} <br/>
  <b>Date de départ: </b> {{endDate}} <br/>
  {{/if}}
</div>
<p>N'hésitez pas a nous contacter sur le +27878131400 ou envoyez nous un courriel au support@bookeu.com
pour plus d'information.</p>
<p>
  Bien à vous,<br/>
  L'equipe de BookEU
  </p>