<p>Bonjour{{user.name}},</p>
<p>vous recevez ce courriel parceque vous avez été invité à rejoindre{{wname}}.</p>
<p>
    Cliquez sur Le lien ci dessous ou coller le sur votre navigateur pour finir l'enregistrement:
    <a href="{{verifyLink}}">{{verifyLink}}</a>
</p>
<p>
    Veuillez garder ce lien a porter de main pour vos ouvertures de séssions futurs: {{hostname}} <br/>
    Mot de passe: {{user.email}}
</p>
<p>
    Si ce courriel ne vous est pas destiné, veuillez l'ignorer</p>
<p>
    Bien à vous,<br/>
    L'equipe BookEU
</p>
