<p>Bonjour,</p>
<p>
    Veuillez trouver ci joint la facture pour la réservation suivante:
</p>
<div style="margin:0;margin-left:20px;">
  <b>Numéro de réservation: </b> {{bookingNumber}} <br/>
  <b>Prestataire: </b> {{supplier}} <br/>
  {{# if isCarBooking }}
  <b>Date de location: </b> {{startDate}} <br/>
  <b>Date de retour: </b> {{endDate}} <br/>
  {{else}}
  <b>Date d'arrivée: </b> {{startDate}} <br/>
  <b>Date de départ: </b> {{endDate}} <br/>
  {{/if}}
</div>
<p>
  Bien à vous,<br/>
  L'équipe BookEU
</p>