<p>Bonjour,</p>
<p>Veuillez trouver ci joint la facture pour la réservation suivante{{bookingNumber}}</p>
<div style="margin:0;margin-left:20px;">
    <b>Numéro de réservation:</b> {{bookingNumber}}<br/>
    <b>Type:</b> {{bookingType}}<br/>
    <b>Prestataire:</b> {{supplier}}<br/>
    <b>Pays:</b> {{countryCode}}<br/>
    <b>Non du client:</b> {{userFullname}}<br/>
    {{# if isCarBooking }}
        <b>Date de location: </b> {{startDate}} <br/>
        <b>Date de départ: </b> {{endDate}} <br/>
    {{else}}
        <b>Date de location: </b> {{startDate}} <br/>
        <b>Date de retour: </b> {{endDate}} <br/>
    {{/if}}
    <b>valeur de la réservation:</b> {{grossBooking}}<br/>
    <b>valeur de la TVA:</b> {{vatValue}}<br/>
    <b>TVA payée:</b> {{vatPaid}}<br/>
</div><p>
    Bien à vous,<br/>
    L'équipe Bookeu
</p>