<p>Hello  {{agent.name}},</p>
<p>A {{wname}} agent account has been created for you.</p>
<p>
    Please click on the following link, or paste this into your browser to
    complete the sign-up process: <a href="{{verifyLink}}">{{verifyLink}}</a>
</p>
<p>
    Please keep this link handy for successive logins: {{hostname}} <br/>
    Username: {{agent.email}}
</p>

<p>
  Best regards,<br/>
  The bookEU Team
</p>
