<p>Hello {{user.name}},</p>
<p>You are receiving this email because you have been invited to join {{wname}}.</p>
<p>
    Please click on the following link, or paste this into your browser to
    complete the sign-up process:
    <a href="{{verifyLink}}">{{verifyLink}}</a>
</p>
<p>
    Please keep this link handy for successive logins: {{hostname}} <br/>
    Username: {{user.email}}
</p>
<p>
    If you think that this email was not intended for you, please ignore it
</p>
<p>
    Best regards,<br/>
    The bookEU Team
</p>

